@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&display=swap');
:root {
    --bg-color: #131218;
    --card-color: #24232B;
  }
  

*{
    box-sizing: border-box;
}
body{
    background-color: #131218;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

}
/* CONTAINER */
.container{

    border: 2px black solid;
    width: 400px;
    
}

/* --1 title */

.title{
    
    border: 2px black dotted;
    text-align: center;
    margin-bottom: 10px;
    
    
}


/* MAIN */
.container-body{
    
    background-color: var(--card-color);
    
}
/* Header for display+clipboard */

.header{
    border: 4px rgb(0, 0, 0) dotted;
    display:flex;
    align-items: center;
    justify-content: space-between;
    
}



.checkbox-group{

    display: flex;
    flex-direction: column;
   

}