@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&display=swap');
:root {
    --bg-color: #131218;
    --card-color: #24232B;
  }
  

*{
    box-sizing: border-box;
}
body{
    background-color: #131218;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'JetBrains Mono', monospace;

}
/* CONTAINER */
.container{

    border: 2px black solid;
    width: 400px;
    
}

/* --1 title */

.title{
    
    border: 2px black dotted;
    text-align: center;
    color:#868491;
    
    
}


/* MAIN */
.container-body{
    height: 400px;
    
}
/* Header for display+clipboard */

.header{
    border: 4px rgb(0, 0, 0) dotted;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--card-color);
    padding:0 15px;
    color:#ebeaf2;
    margin-bottom: 30px;
    
}

/* Article */

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2{
    color:#A4FFAF;
}

article{
    
    background-color: var(--card-color);
    padding: 0 15px;
}



.checkbox-group{
    
    display: flex;
    flex-direction: column;
   

}

.btn{
    width: 100%;
    height: 40px;
    margin: 10px 0;
}


  

